.chat-button {
  margin: 10px;
  text-align: center;
  width: 250px;
  border: 1px solid rgba(153, 153, 153, 0.5);
}
.chat-list {
  margin: 20px 0;
}

.chat-button-add {
  background: rgb(81, 178, 76);
}
